<div class="col-lg-4 col-lg-offset-4">
  <% if resource.is_a? Consumer %>
  <h3><%= image_tag resource.image_url(:thumb) unless resource.image.blank? %> Account details </h3>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs ">
        <%= f.input :first_name, required: false, autofocus: true, label: false, placeholder: 'first name' %>
        <%= f.input :last_name, required: false, autofocus: false, label: false, placeholder: 'last name' %>
        <%= f.input :profile_name, required: true, autofocus: false, label: false, placeholder: 'profile name' %>
        <%= f.input :image, as: :file %>
        <%= f.input :remove_image,  as: :boolean, required: false, label: 'Remove image' %>
        <%= f.input :remote_image_url, required: false, autofocus: false, label: false, placeholder: 'or enter remote image url' %>
        <%= f.input :phone, required: false, autofocus: false, label: false, placeholder: 'phone' %>
        <%= f.input :postcode, required: false, autofocus: false, label: false, placeholder: 'postcode' %>
        <%= f.input :female, label: false, collection: [["female", true],["male", false]], as: :radio_buttons, item_wrapper_class: 'radio-inline', item_wrapper_tag: :div %>
        <%= f.input :email, required: true, autofocus: false, label: false, placeholder: 'email' %>
        
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false, label: false, placeholder: 'new password' %>
        <%= f.input :password_confirmation, required: false, label: false, placeholder: 'password confirmation' %>
        <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true, label: false, placeholder: 'current password' %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update" %>
      </div>
    <% end %>
    <h3>Cancel my account</h3>

    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

    <%= link_to "Back", :back %>

  <% else %>
  <h3> Account details </h3>
    
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :username, required: true, autofocus: true, label: false, placeholder: 'your name' %>
        <%= f.input :business_name, required: false, autofocus: false, label: false, placeholder: 'business name' %>
        <%= f.input :email, required: true, autofocus: false, label: false, placeholder: 'email' %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false, label: false, placeholder: 'new password' %>
        <%= f.input :password_confirmation, required: false, label: false, placeholder: 'password confirmation' %>
        <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true, label: false, placeholder: 'current password' %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update" %>
      </div>
    <% end %>

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

    <%= link_to "Back", :back %>

  <% end %>
</div>
