<div class='container'>
  <div class='row' >

  <%= link_to daily_schedules_path, :class => "btn btn-warning col-md-3 col-md-offset-9" do %>
    <i class="glyphicon glyphicon-search white"></i> Check and update your working hours
  <% end %>

    <div class='col-md-7 margin_up' >
      <div id='articles'>
        <h2 class="month text-center">
          <%= link_to "<", date: @date.prev_month, treat: params[:treat] %>
          <%= @date.strftime("%B %Y") %>
          <%= link_to ">", date: @date.next_month, treat: params[:treat] %>
        </h2>
        <%= calendar @date do |date| %>
          <%= link_to calendar_bookings_path(date: "#{date}") do %>
            <div class='col-md-12' ><%= date.day %></div>
            <div class='col-md-12' >
              <span ><%= morning_square(date) %></span>
              <span ><%= afternoon_square(date) %></span>
            </div>
          <%end%>
        <% end %>
      </div>
    </div>
    <div class='col-md-5 margin_up'>
      <h4 class='col-md-12'><%= @date.strftime("%^A, %B %d") %></h4>
      <h4 class='col-md-12 red'>Choose slot to mark it as unavailable</h4>
      <div class='col-md-6 margin_up text-center'>
        morning
        <% unless @pro_am_available.blank? %>
          <%= form_tag mark_as_unavailable_bookings_path, method: :post do%>
            <%= hidden_field_tag :date, "#{@date}" %>
            <% @pro_am_available.each do |time| %>
              <label class="col-md-12 text-center available-time-cell">
                <%= check_box_tag "time[]", "#{time.start_at.to_i}" %>
                <%= ::ApplicationHelper::SLOTS[time.start_at] %>
              </label>
            <%end%>
            <button class='btn btn-warning col-sm-12'>
              <span>mark am hours</span>
            </button>
          <% end %>
        <% end %>
      </div>

      <div class='col-md-6 margin_up text-center'>
        afternoon
        <% unless @pro_pm_available.blank? %>
          <%= form_tag mark_as_unavailable_bookings_path, method: :post do%>
            <%= hidden_field_tag :date, "#{@date}" %>
            <% @pro_pm_available.each do |time| %>
              <label class="col-md-12 text-center available-time-cell">
                <%= check_box_tag "time[]", "#{time.start_at.to_i}" %>
                <%= ::ApplicationHelper::SLOTS[time.start_at] %>
              </label>
            <%end%>
            <button class='btn btn-warning col-sm-12'>
              <span>mark pm hours</span>
            </button>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class='col-md-12 margin_up' >
    <h4 class='col-md-12'>Your bookings on <%= @date.strftime("%^A, %B %d") %></h4>
    <div class='col-md-12'>
      <% @booked_by_customers.each do |booking| %>
        <div class='booking_raw'>
          <span class='booking_text'><%= booking.start_at.strftime("%H:%M") %></span>
          <span class='booking_text'><%= booking.treatment.title %></span>
          <span class='booking_text'><%= ::ApplicationHelper::DURATIONS[booking.treatment.duration.to_i] %></span>
        </div>
      <% end %>
    </div>
  </div>

  <div class='col-md-12 margin_up' >
    <h4 class='col-md-12'>You marked as unavailable on <%= @date.strftime("%^A, %B %d") %></h4>
    <div class='col-md-12 last_div'>
      <% @unavailable_by_pro.each do |booking| %>
        <div class='booking_raw'>
          <span class='booking_text'><%= booking.start_at.strftime("%H:%M") %></span>
          <span class='booking_text'><%= ::ApplicationHelper::DURATIONS[1] %></span>
          <span class='booking_undo_right'><%= link_to(fa_icon('undo', text: 'undo'), booking_path(booking, date: @date), method: :delete) %></span>
        </div>
      <% end %>
    </div>
  
  </div>
</div>
