<div class='container'>
  <div class='row' >
    <table class='table table-striped margin_up bookings_index'>
      <thead>
        <tr>
          <th>Booking Ref /<br />
          Booked
          </th>
          <th>Booking Time</th>
          <th>Customer Name</th>
          <th>Telephone</th>
          <th>Email</th>
          <th>Treatment</th>
          <th>Status</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <% @bookings.each do |booking| %>
          <tr>
            <td>
              <%= booking.id %><br />
              <%= booking.created_at.strftime("%d/%m/%Y %H:%M") %>
            </td>
            <td><%= booking.start_at.strftime("%d/%m/%Y %H:%M") %></td>
            <td><%= "#{booking.consumer.first_name} " "#{booking.consumer.last_name}" %></td>
            <td><%= booking.consumer.phone %></td>
            <td><%= booking.consumer.email %></td>
            <td><%= booking.treatment.title %></td>
            <td>
              <span>Confirmed</span><br />
              <% if booking.paid %>
                <span>(pre-paid)</span><br />
              <% else %>
                <span>(pay at venue)</span><br />
              <% end %>
              <% if booking.completed %>
                <%= fa_icon('check-square-o', text:"complete") %><br />
              <% else %>
                <%= fa_icon('square-o', text:"not complete") %><br />
                <%= link_to('mark as complete', complete_booking_path(booking), method: :post) %>
              <% end %>
            </td>
            <td><span><%= fa_icon('gbp', text:"#{booking.sum}") %></span></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
