
<%= link_to buy_gift_card_path, :class => "btn btn-warning col-md-3 col-md-offset-9" do %>
  <i class="glyphicon glyphicon-gift white"></i> Buy a Gift Card
<% end %>

<div class='container homepage'>
  <div class='row'>

    <div class='col-md-8 margin_up' >
        <% @venues.compact.each_with_index do |venue, index| %>
          <div class='event_preview'>
            <%= venue_image(venue) %>
            <div class='event_right'>
              <h2><%= link_to venue.name, venue_path(venue.name) %></h2>
              <h4><%= venue.address %></h4>
              <div class='venue_description'>
                <div class="table-responsive">
                  <table class='table main_page_index'>
                    <tbody>
                      <% venue.pro.treatments.where(featured: true).each do |treatment| %>
                        <tr>
                          <td><div class='small_table_row'><%= treatment.title %></div></td>
                          <td><div class='small_table_row'>
                            <span class='col-md-4'><%= "save #{(100 - treatment.sale_price.to_f/treatment.price.to_f*100).to_i}%" %></span>
                            <span class='col-md-8'>
                              <%= form_tag new_booking_path, method: :get do%>
                                <%= hidden_field_tag :treat, "#{treatment.id}" %>
                                <button class='btn btn-default btn-xs red'>
                                  <span class=>Book now </span><span><%= fa_icon('gbp', text:"#{treatment.sale_price}") %></span>
                                </button>
                              <%end%>
                            </span>
                          </div></td>
                        </tr>
                      <%end%>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class='event_date_right'>
                <%= rating_stars(venue) %>
              </div>
            </div>
          </div>
        <% end %>
        <div><%= will_paginate %></div>
    </div>

    <div class='col-md-4 button_down' >
      <%= form_tag venues_path, method: :get, id: 'seach_form' do%>
        <% fields_for :search do |f| %>
        <span class='form-group'>
          <%= f.label_tag(:treatment, 'Treatment') %>
          <%= f.text_field :treatment, placeholder: 'Enter treatment type or part', class: 'form-control margin_down' %>
        </span>
        <span class='form-group'>
          <%= f.label_tag(:location, 'Location') %>
          <%= f.text_field :location, placeholder: 'Enter location address or part', class: 'form-control margin_down' %>
        </span>
        <span class='form-group'>
          <%= f.label_tag(:distance, 'Distance') %>
          <%= f.number_field :distance, placeholder: 'Enter distance from location in km', :step => 1, :min => 1, :max => 500, class: 'form-control margin_down' %>
        </span>        
        <span class='form-group'>
          <%= f.label_tag(:date, 'Date') %>
          <%= f.date_field :date, class: 'form-control margin_down' %>
        </span>
        <span class='form-group'>
          <%= f.label_tag(:time, 'Time') %>
          <%= f.search_field :time, placeholder: 'NOT WORKING!', class: 'form-control margin_down' %>
        </span>
        <span class='form-group'>
          <%= f.label_tag(:rating, 'Rating more or equal') %>
          <%= f.number_field :rating, :step => 0.5, :min => 0, :max => 5, class: 'form-control margin_down' %>
        </span>
        <span class='form-group'>
          <span class='col-md-1'><%= "£#{0}" %></span><span class='col-md-2 col-md-offset-9'><%= "£#{999}" %></span>
          <%= f.range_field :cost, min: 0, max: 1000, id: 'ranger'  %>
          <%= f.label_tag :cost, "Current Value £ 500", id: 'ranger_label' %>
        </span>
        <button class='btn btn-default btn-md col-md-12 margin_up margin_down'>
          <span class=>Search</span>
        </button>
        <%end%>
      <%end%>

      <div class='last_div' style='width: 100%;'>
        <div id='map' style='width: 100%; height: 200px;'></div>
      </div>
    </div>

  </div>
</div>
