<div class='container'>
  <div class='row' >
  
    <div class='col-md-8 margin_up' >
      <% if !@venue %>
        <p>Venue not found</p>
      <% else %>
        <h2><%= @venue.name %></h2>
        <h4><%= @venue.address %></h4>
        <div class='venue_show_img'><%= image_tag @venue.image_url unless @venue.image.blank? %></div>
        <h3 class='margin_up margin_down'>Overview</h3>
        <div class='venue_description'><%= @venue.description %></div>
        <h3 class='margin_up margin_down'>Services</h3>
        <div>
          <%= render 'treatment' %>
        </div>
        <h3 class='margin_up margin_down'>Review</h3>
          <% @reviews.each do |review| %>
            <div class='event_preview'>
              <div class='event_right'>
                <h4><%= "#{review.consumer.first_name} " "#{review.consumer.last_name}" %></h4>
              </div>
              <div class='venue_description'><%= review.comment %></div>
              <div class='event_date_right'>
                ambiance - <%= review.ambiance %><br />
                cleanliness - <%= review.cleanliness %><br />
                staff - <%= review.staff %><br />
                value - <%= review.value %>
              </div>
            </div>
          <% end %>
          <div><%= will_paginate @reviews %></div>
       <% end %>
    </div>

    <div class='col-md-4 margin_up' >
      <% if @venue %>
        <h3 class='margin_up'>Venue rating</h3>
        <div class='margin_down'>
          <%= rating_stars(@venue) %>
          <%= link_to 'leave a review', new_review_path(venue: @venue) %>
        </div>
        <% unless @venue.address.blank? %>
          <h6><%= "#{@venue.address}" %></h6>
          <div style='width: 100%;'>
            <div id='map' style='width: 100%; height: 200px;'></div>
          </div>
        <% end %>
        <h4 class='margin_up'><%= @venue.name %></h4>
        <h5><%= fa_icon('phone', text: "#{@venue.phone}") %></h5>
        <% unless @venue.email.blank? %>
          <%= mail_to "#{@venue.email}" do %>
            <h5><%= fa_icon('envelope-o', text: "send message") %></h5>
          <% end %>
        <% end %>
        <h5><%= link_to(fa_icon('chevron-left', text: 'Visit venue website'), @venue.website) %></h5>
      <% end %>
    </div>

  </div>
</div>
