<!DOCTYPE html>
<html>
<head>
  <title>Specialeyes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render "layouts/header" %>

    <div class="container wrapper">
      <div class="row">
      <% flash.each do |type, message| %>
        <div class="alert alert-warning fade-in">
          <button class="close" data-dismiss="alert">x</button>
          <%= message %>
        </div>
      <% end %>

    <%= yield %>

      </div>
    </div>
</body>
</html>
